*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.form{
	background-color: #EBEBEB;
	margin: auto;
	width: 100%;
	max-width: 500px;
	padding: 1.5em 3em;
	border-radius: 10px;
	box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 30%) ;
	text-align: center;


}

/*esta son las etiquetas del formulario*/

.form-tit{
	/*background-color: #03045e;*/
	color: #000;
	text-align: center;
	font-size: 30px;
	font-weight: 120;
	padding: 10px;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	/*border-bottom: 5px solid #03045e;*/
	font-weight: bold;
}

/* QUE ATRACION DESEAS*/
.form-select{
	padding: 10px 43px;
	
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 5px;

}

/* PARA CUANTOS NIÑOS SON*/
.form-selcto{
	padding: 10px 60px;
	
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 5px;

}
/* HORAS*/
.input-50{
	padding: 9px 30px;
	margin: 10px;
}
/*Codigo*/
.input-100{
	padding: 9px 30px;
	margin: 20px;
}



/* FECHA*/
.resvp{
	padding: 9px 30px;
	margin: 7px;

}


.boton{
	background-color: #03045e;
	color: #fff;
	margin: auto;
	padding: 10px 50px;
	font-size: 15px;
	border-radius: 7px;
	cursor: pointer;
}
.boton:hover{
background-color: #498EB5;
	
}

.boton:active{
	transform: scale(1.05);
}
.form-control{
padding: 9px 30px;
margin: 20px;
        }

@media (max-width: 425px){
	.form-title{
		font-size: 1.8rem;
	}


       




